<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改密碼</title>
</head>
<body>
<h2>修改密碼</h2>

<form th:action="@{/change-password}" method="post" style="width:300px;">
    <div>
        <label>原密碼:</label><br>
        <input type="password" name="currentPassword" required>
    </div>
    <div>
        <label>新密碼:</label><br>
        <input type="password" name="newPassword" required>
    </div>
    <div>
        <label>確認新密碼:</label><br>
        <input type="password" name="confirmPassword" required>
    </div>
    <br>
    <button type="submit">變更密碼</button>
</form>

<p th:if="${error}" th:text="${error}" style="color:red"></p>
<p th:if="${success}" th:text="${success}" style="color:green"></p>
<p><a th:href="@{/}">返回首頁</a></p>
</body>
</html>
